---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-lambda-function-name,
  -cert-dcl50-cpp,
  -cert-err34-c,
  -cert-err58-cpp,
  -cert-msc32-c,
  -cert-msc51-cpp,
  -clang-analyzer-valist.Uninitialized,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -fuchsia*,
  -google-default-arguments,
  -google-explicit-constructor,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-readability-todo,
  -hicpp-avoid-c-arrays,
  -hicpp-avoid-goto,
  -hicpp-braces-around-statements,
  -hicpp-explicit-conversions,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-redundant-member-init,
  -readability-simplify-boolean-expr,
  -readability-suspicious-call-argument,
  -modernize-use-trailing-return-type"
WarningsAsErrors: "*"
FormatStyle: file
