[submodule "extern/rnastructure_bridge"]
	path = extern/rnastructure_bridge
	url = git@github.com:Edgeworth/rnastructure_bridge.git
[submodule "extern/sanitizers-cmake"]
	path = extern/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
